* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Tahoma, sans-serif;
}

/* Proprietà relative alle Navbars */

.navbar-top {
  background: #F4F9FD;
  height: 90px;
  border-bottom: 1px solid black;
}

.navbar-top span, .links-left :nth-child(4) {
  margin-left: 8px;
  text-decoration: none;
  font-family: tahoma,sans-serif;
  color: #344758;
}

.links-left i {
  color:#344758;
}

.links-left{
  position: absolute;
  left:0;
  top:50%;
  transform: translate(0, -50%);
}

.links-right {
  position: absolute;
  right:0;
  top:50%;
  transform: translate(0, -50%);
}


.gethubspot-button {
  height: 35px;
  width: 120px;
  border-radius: 4px;
  border: none;
  background: #ff7a59;
  color: white;
  margin-left: 20px;
}

.login-button {
  height: 35px;
  width: 55px;
  border-radius: 4px;
  border: 1px solid #ff7a59;
  background: transparent;
  color: #ff7a59;
  margin-left: 20px;
}

.search-login .links-right i {
  color: #2ca1b3;
}

.navbar-bottom {
  background: #FFFFFF;
  height: 90px;
}

.nav-links {
  position: absolute;
  left:0;
  top:50%;
  transform: translate(0, -50%);
  height: 70%;
  width: 50%;
}

.search-login {
  position: absolute;
  right:0;
  top:50%;
  transform: translate(0, -50%);
  height: 70%;
  width: 50%;
}

.logo {
  position: absolute;
  left:0;
  top:50%;
  transform: translate(0, -50%);
  height: 70%;
  width: 10%;
}

.logo img {
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-50%, -50%);
  width:100%;
}

.nav-menu {
  position: absolute;
  right:0;
  top:50%;
  transform: translate(0, -50%);
  height: 70%;
  width: 80%;
}

.nav-menu ul li {
  display: inline-block;
  margin-left: 25px;
  color: #344758;
}

/* proprietà relative all'hero */

.homepage-hero {
  background-image: url("../img/hero.jpg");
  background-size: cover;
  background-position: center;
  height: 760px;
}

.elements-container {
  width: 70%;
  height: 100%;
  margin:auto;
  position: relative;
}

.text-banner {
  position: absolute;
  left:0;
  top:50%;
  transform: translate(0, -50%);
  height: 70%;
  width: 50%;
}

.text-banner * {
  margin-bottom: 30px;
}

.text-banner h1 {
  font-size: 55px;
  color: #344758;
}

.text-banner p {
  font-size: 18px;
}

.text-banner :last-child {
  font-size: 12px;
}

.text-banner button {
  height: 50px;
  width: 180px;
  border-radius: 4px;
  border: none;
  background: #ff7a59;
  color: white;
}

/* Propietà relative al Main content */

.main-content-info {
  background: #F4F9FD;
  height: 1500px;
}

.main-content-growth {
  /* background: #00B3AF; */
  background-image: linear-gradient(45deg, #00a4bd, #00bda5);
  height: 800px;
}

.main-content-customers {
  background: #FFFFFF;
  height: 800px;
}

.mission-text {
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-50%, -50%);
  height: 90%;
  width: 100%;
}

.mission-text * {
  color:#344758;
}

 .mission-text > img {
  height: 180px;
  position: absolute;
  left:50%;
  top:0;
  transform: translate(-50%, 0);
}

.mission-text h1 {
  position: absolute;
  left:50%;
  top:180px;
  transform: translate(-50%, 0);
  font-size: 28px;
}

.mission-text p {
  position: relative;
  left:50%;
  top:250px;
  transform: translate(-50%, 0);
  padding: 0 150px 0 150px;
  text-align: center;
  font-size: 15px;
}


.learn-more{
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-50%, -50%);
  height: 90%;
  width: 100%;
  background: white;
  border-radius: 5px;
  border:1px solid lightgrey;
  margin-top: 5px;
}

.left-side {
  position:relative;
  float:left;
  height: 100%;
  width: 30%;
}

.left-side img {
  position: absolute;
  left:50%;
  top:30px;
  transform: translate(-50%, 0);
}

.left-side button {
  position: absolute;
  left:50%;
  top:200px;
  transform: translate(-50%, 0);
}

.learn-more-button {
  height: 50px;
  width: 140px;
  border-radius: 4px;
  border: none;
  background: #ff7a59;
  color: white;
}

.right-side {
  position:relative;
  float:left;
  height: 100%;
  width: 70%;
  padding:30px 0 0 0;
  color: #344758;
}

.right-side i, .card-feature i {
  color:#ff7a59;
}

.right-side h2, h3 {
  margin: 20px 0 20px 0;
}

.right-side h3 {
  margin-right: 50px;
  display: inline-block;
}

.right-side p {
  margin: 40px 0 0 0;
  padding:0 150px 0 0;
}

.right-side span {
  margin: 0 10px 0 10px;
}

.riga {
  width:55%;
  border-top: 2px solid grey;
  display: inline-block;
  margin-bottom: 5px;
}

.elements-main-container {
  width: 70%;
  height: 23%;
  margin:auto;
  position: relative;
}

.threecol-main-container {
  width: 70%;
  height: 48%;
  margin:auto;
  position: relative;
  margin-top: 40px;
}

.card-feature {
  float: left;
  width: 33%;
  height: 100%;
  margin:1px;
  width: calc(100% / 3 - 2px);
  color: #344758;
}

.card-feature img {
  position: relative;
  height: 100px;
  left:50%;
  top:20px;
  transform: translate(-50%, 0);
}

.card-feature .riga {
  position: relative;
  top:160px;
  left:50%;
  transform: translate(-50%, -50%);
  width:80%;
  border-top: 2px solid grey;
  margin-bottom: 5px;
}

.card-feature h3 {
  position: relative;
  top:190px;
  left:50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin-bottom: 60px;
}

.card-feature i, .card-feature span {
  position: relative;
  top:190px;
  left:30px;
  margin: 0 5px 2px 0;
  font-size: 16px;
}

.card-feature .learn-more-button {
  position: relative;
  top:270px;
  left:50%;
  transform: translate(-50%, -50%);
}

.card-left {
  float:left;
  height: 100%;
  width: 92%;
  background: white;
  border-radius: 5px;
  border:1px solid lightgrey;
}

.card-feature h2 {
  position: relative;
  left:50%;
  top:30px;
  transform: translate(-50%, 0);
  text-align: center;
}

.card-feature p {
  position: relative;
  left:50%;
  top:70px;
  padding: 0 35px 0 35px;
  transform: translate(-50%, 0);
  text-align: center;
  font-size: 15px;
}

.card-right {
  float:right;
  height: 100%;
  width: 92%;
  background: white;
  border-radius: 5px;
  border:1px solid lightgrey;
}

.card-center {
  height: 100%;
  width: 92%;
  position: relative;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  background: white;
  border-radius: 5px;
  border:1px solid lightgrey;
}

/* Propietà relative alla sezione Growth & Customers */

.growth-container, .customers-container {
  width: 70%;
  height: 100%;
  margin:auto;
  position: relative;
}

.learn-and-growth, .customers-section {
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-50%, -50%);
  height: 90%;
  width: 100%;
}

.text-growth {
  width:100%;
  height: 30%;
  text-align: center;
  color: white;
  font-size: 20px;
  padding: 5px 60px 0 60px;
}

.text-growth p {
  margin-top: 35px;
  font-size: 14px;
}

.growth-data {
  width:100%;
  height: 70%;
  padding-bottom: 75px;
}

.data-cell {
  position: relative;
  float: left;
  width:25%;
  height:50%;
  border-right: 1px solid white;
}

.data-cell:nth-child(4), .data-cell:nth-child(8) {
  border-right: none;
}

.data-cell:nth-of-type(1n+5) {
  border-top: 1px solid white;
}

.data-cell img {
  position: absolute;
  top: 50px;
  left:50%;
  transform: translate(-50%, 0);
  height: 32px;
}

.data-cell h1 {
  position: absolute;
  top: 100px;
  left:50%;
  transform: translate(-50%, 0);
  color: white;
  font-size: 40px;
}

.data-cell p {
  position: absolute;
  bottom: 30px;
  left:50%;
  transform: translate(-50%, 0);
  color: white;
  font-size: 15px;
}

.data-cell h1::after {
  content: " \002B";
  position: relative;
  bottom:3px;
  font-size: 20px;
  vertical-align:middle;
}

img[src="img/growth-icon-4.png"] {
  height: 20px;
  top:60px;
}

img[src="img/growth-icon-5.png"] {
  height:50px;
  top:40px;
}

img[src="img/growth-icon-8.png"] {
  height: 25px;
}


/* Propietà relative al footer */

.hubspot-footer {
  background: #32495C;
  height:670px;
}

.footer-col-container {
  width: 70%;
  height: 65%;
  margin:auto;
  position: relative;
}

.footer-columns{
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-50%, -50%);
  height: 90%;
  width: 100%;
}

.footer-bottom-container{
  width: 70%;
  height: 30%;
  position:relative;
  margin: auto;
}

.footer-bottom {
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  background: pink;
}

.footer-columns div {
  float: left;
  width: 24%;
  height: 95%;
  background: yellow;
  margin:5px;
  width: calc(100% / 4 - 10px);
}


/* Classi relative solo alla prima fase di blocking del layout */

.border {
  border: 1px solid black;
}
