* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar-top {
  background: #F4F9FD;
}

.navbar-bottom {
  background: #FFFFFF;
}

.homepage-banner {
  background: #FFF2EF;
}

.separator-bar {
  background: #AFEBE4;
}

.main-content-info {
  background: #F4F9FD;
}

.main-content-growth {
  background: #00B3AF;
}

.main-content-customers {
  background: #FFFFFF;
}

.hubspot-footer {
  background: #32495C;
}

/* Classi relative solo alla prima fase di blocking del layout */

.border {
  border: 1px solid black;
}

.small-size {
  height:90px;
}

.medium-size {
  height: 670px;
}

.medium-size-main {
  height: 800px;
}

.big-size {
  height: 1200px;
}
